body {      
    background-color: chartreuse;      
    font-family: Verdana, sans-serif;      
    font-size: 100%;  
}    
.formation {      
    color: cadetblue;      
    text-decoration: underline;  
}    
    
#formEmail {      
    font-family: Arial, Helvetica, sans-serif;     
    text-decoration: underline dotted;  
}    

h1 {      
    font-size: 200%;      
    color: navy;      
    text-align: center;  
}